 <div class="  gallery-wrapper pb-5 mb-5 ">

        <section class="svg">
            <h2 class="text-center">About Miah Clothing</h2>
            <svg version="1.1" id="curve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1200 300" enable-background="new 0 0 1200 300" xml:space="preserve">
                <path fill="" stroke="#36409A" stroke-miterlimit="10" d="M0,283.7C310.3,162.9,406.1,88.9,571.8,155.6s544.8,99,636.5,12.5
            v140.6H0V283.7z" />
                <path fill="#FFFFFF" stroke="#452B7F" stroke-miterlimit="10" d="M594.7,382.7" />
            </svg>
        </section>

        <section class="sec2">

            <div class="container ">
                <div class="row ">
                    <div class="col-12">
                        <a class="go-back" href="/"><i class="fa fa-arrow-left"></i> Go back</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 mx-auto text-dark">
                        <h2>At Miah Clothing</h2>

                        <p>
                            we sell quality imported clothing materials at an affordable price. Customer's satisfaction is the hallmark of our service. Miah clothing is a clothing store that's based in Nigeria. Our service and delivery is throughout the nation
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>