<div class="  gallery-wrapper pb-5 mb-5 ">

        <section class="svg">
            <h2 class="text-center">Miah Collection 4</h2>
            <svg version="1.1" id="curve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1200 300" enable-background="new 0 0 1200 300" xml:space="preserve">
                <path fill="" stroke="#36409A" stroke-miterlimit="10" d="M0,283.7C310.3,162.9,406.1,88.9,571.8,155.6s544.8,99,636.5,12.5
        v140.6H0V283.7z" />
                <path fill="#FFFFFF" stroke="#452B7F" stroke-miterlimit="10" d="M594.7,382.7" />
            </svg>
        </section>

        <section class="sec2">
            <div class="container ">
                <div class="row ">
                    <div class="col-12">
                        <a class="go-back" href="/"><i class="fa fa-arrow-left"></i> Go back</a>
                    </div>
                </div>
                <div class="gallery-boxes">
                    <div class="gallery-box gallery-box-1">
                        <img src="img/miah_7.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
                        <div class="d-flex justify-content-between gallery-title-price flex-wrap text-success">
                            <span>Lorem ipsum.</span>
                            <span><span>&#8358 </span> 5,500</span>
                        </div>
                    </div>
                    <div class="gallery-box gallery-box-2">
                        <img src="img/miah_10.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
                        <div class="d-flex justify-content-between gallery-title-price flex-wrap text-success">
                            <span>Lorem ipsum.</span>
                            <span><span>&#8358 </span> 5,500</span>
                        </div>
                    </div>
                    <div class="gallery-box gallery-box-2">
                        <img src="img/miah_7.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
                        <div class="d-flex justify-content-between gallery-title-price flex-wrap text-success">
                            <span>Lorem ipsum.</span>
                            <span><span>&#8358 </span> 5,500</span>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12">
                        <a class="go-back" href="/"><i class="fa fa-arrow-left"></i> Go back</a>
                    </div>
                </div>
            </div>
        </section>
    </div>