<!-- landing page wrapper -->
<div class="landing-wrapper">

<!-- header section -->
 <header id="header">
 	<div class="container">
 		<div class="row height-90 align-items-center justify-content-center">
 			<div class="col-12">
 				<div class="banner text-center banner-ripple">
 					<h4>Welcome to <i class="far fa-hand-point-right mr-2"></i></h4>
 					<h1 class="display-1 text-capitalize w-50 mx-auto">
 						<small>Miah's</small><strong class="primary-color"> Clothings</strong>
 					</h1>
 					<a href="https://wa.me/2347037244924" class="btn main-btn sushi-btn py-4 text-capitalize">
						<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
 					Order online
 				    </a>
 				</div>
 			</div>
 		</div>
 	</div>

 	<a href="#special-items" class="btn header-link primary-color"><span class="i fas fa-arrow-down"></span></a>
 </header>
<!-- End of header section -->

<!-- navbar -->
	<nav class="navbar navbar-expand-lg">
		<a href="#" class="navbar-brand text-capitalize primary-color">
			Miah's Clothings
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
			<div class="toggler-btn">
				<div class="bar bar-1"></div>
				<div class="bar bar-2"></div>
				<div class="bar bar-3"></div>
		    </div>
		</button>
		<!-- links -->
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a href="#special-items" class="nav-link text-capitalize">
						<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
						collections
					</a>
				</li>
				<li class="nav-item">
					<a href="#menu" class="nav-link text-capitalize">
						<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
						specials
					</a>
				</li>
				<li class="nav-item">
					<a href="#about" class="nav-link text-capitalize">
						<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
						about
					</a>
				</li>
				<li class="nav-item">
					<a href="#reviews" class="nav-link text-capitalize">
						<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
						reviews
					</a>
				</li>
				<li class="nav-item">
					<a href="#contact" class="nav-link text-capitalize">
						<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
			      	 	<span class="glow-btn"></span>
						contact
					</a>
				</li>
			</ul>
			<form class="form-inline d-none d-lg-block mr-5">
				<button class="btn nav-btn text-capitalize" type="button"><a href="https://wa.me/2347037244924">order online</a></button>
			</form>
		</div>
	</nav>
<!-- End of Navbar -->

<!-- floating social icon -->
<div class="fab-container">
	<div class="fabb fab-icon-holder">
		<i class="fas fa-question fa-2x"></i>
	</div>
	<ul class="fab-options">
		<li>
			<span class="fab-label">Give a call</span>
			<div class="fab-icon-holder">
				<a href="tel:+2347037244924"><i class="fas fa-phone fa-2x"></i></a>
	      </div>
	  </li>
	  <li>
	  	<span class="fab-label">Chat on Whasapp</span>
			<div class="fab-icon-holder">
				<a href="https://m.me/miahclothings"><i class="fab fa-whatsapp fa-2x"></i></a>
	      </div>	
	  </li>
		<li>
			<span class="fab-label">send message</span>
			<div class="fab-icon-holder">
				<a href="https://wa.me/2347037244924"><i class="fas fa-envelope fa-2x"></i></a>
	      </div>
		</li>
	</ul>
</div>

<!-- Menu items -->
<section class="py-5 " id="special-items" class=" special-items-special">
	<div class="container py-5" >
		<h2><bold>My Collections</bold></h2>
		<div class="row parent-container">
			<!-- menu item -->
			<div class="col-10 mx-auto col-sm-6 col-lg-4 py-3">
				<div class="item-container">
					<img src="img/miah_1.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
					<a href="/collection-1">
						<h2 class="text-uppercase text-center item-link px-3">collection 1</h2>
					</a>
				</div>
			</div>

			<!-- menu item -->
			<div class="col-10 mx-auto col-sm-6 col-lg-4 py-3">
				<div class="item-container">
					<img src="img/miah_2.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
					<a href="/collection-2">
						<h2 class="text-uppercase text-center item-link px-3">collection 2</h2>
					</a>
				</div>
			</div>

			<!-- menu item -->
			<div class="col-10 mx-auto col-sm-6 col-lg-4 py-3">
				<div class="item-container">
					<img src="img/miah_4.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
					<a href="/collection-3">
						<h2 class="text-uppercase text-center item-link px-3">collection 3</h2>
					</a>
				</div>
			</div>

			<!-- menu item -->
			<div class="col-10 mx-auto col-sm-6 col-lg-4 py-3">
				<div class="item-container">
					<img src="img/miah_7.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
					<a href="/collection-4">
						<h2 class="text-uppercase text-center item-link px-3">collection 4</h2>
					</a>
				</div>
			</div>

			<!-- menu item -->
			<div class="col-10 mx-auto col-sm-6 col-lg-4 py-3">
				<div class="item-container">
					<img src="img/miah_8.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
					<a href="/collection-5">
						<h2 class="text-uppercase text-center item-link px-3">collection 5</h2>
					</a>
				</div>
			</div>

			<!-- menu item -->
			<div class="col-10 mx-auto col-sm-6 col-lg-4 py-3">
				<div class="item-container">
					<img src="img/miah_10.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
					<a href="/collection-6">
						<h2 class="text-uppercase text-center item-link px-3">collection 6</h2>
					</a>
				</div>
			</div>
			
		</div>
	</div>
</section>


<!-- menu section -->
<section id="menu" class="py-5 my-5">	
	<div class="container">
		<div class="row marginBottom">
			<!-- first column -->
			<div class="col-md-6">
				<!-- title -->
				<div class="row">
					<div class="col">
						<h1 class="primary-color text-capitalize">Special items 1</h1>
					</div>
				</div>
				<!-- End of title -->
				<!-- single item -->
				<div class="single-item d-flex flex-column justify-content-between my-3 p-3">
					<div class="single-item-text">
						<img src="img/miah_1.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
						<h2 class="text-uppercase text-dark">item 1</h2>
						<h4 class="muted text-dark">Red vintage</h4>
					</div>
					<div class="single-item-price align-self-end">
						<div class="text-uppercase text-dark"><h2><span>&#8358 </span> 5500</h2></div>
					</div>
				</div>
				<!-- End of single item -->

				<!-- single item -->
				<div class="single-item d-flex flex-column justify-content-between my-3 p-3 special">
					<div class="single-item-text">
						<img src="img/miah_2.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
						<h2 class="text-uppercase text-dark">item 2</h2>
						<h4 class="muted text-dark">Jean vintage.</h4>
					</div>
					<div class="single-item-price align-self-end">
						<div class="text-uppercase text-dark"><h2><span>&#8358 </span> 5500</h2></div>
					</div>
					<h3 class="special-text text-capitalize">Brand New</h3>
				</div>
				<!-- End of single item -->

				<!-- title -->
				<div class="row">
					<div class="col">
						<h1 class="primary-color text-uppercase">item 3</h1>
					</div>
				</div>
				<!-- End of title -->
				<!-- single item -->
				<div class="single-item d-flex flex-column justify-content-between my-3 p-3">
					<div class="single-item-text">
						<img src="img/miah_4.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
						<h2 class="text-uppercase text-dark">item 3</h2>
						<h4 class="muted text-dark">Asian kimono Black.</h4> 
					</div>
					<div class="single-item-price align-self-end">
						<div class="text-uppercase text-dark"><h2><span>&#8358 </span> 5500</h2></div>
					</div>
				</div>
				<!-- End of single item -->

				<!-- single item -->
				<div class="single-item d-flex flex-column justify-content-between my-3 p-3 special">
					<div class="single-item-text">
						<img src="img/miah_7.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
						<h2 class="text-uppercase text-dark">item 4</h2>
						<h4 class="muted text-dark">Asian kimono darkblue.</h4>
					</div>
					<div class="single-item-price align-self-end">
						<div class="text-uppercase text-dark"><h2><span>&#8358 </span> 5500</h2></div>
					</div>
					<h3 class="special-text text-capitalize">Brand New</h3>
				</div>
				<!-- End of single item -->
			</div>
			<!-- End of first column -->

			<!-- second column -->
			<div class="col-md-6">
			<!-- title -->
				<div class="row">
					<div class="col">
						<h1 class="primary-color text-capitalize">Special items 2</h1>
					</div>
				</div>
				<!-- End of title -->
<!-- single item -->
				<div class="single-item d-flex flex-column justify-content-between my-3 p-3 special">
					<div class="single-item-text">
						<img src="img/miah_8.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
						<h2 class="text-uppercase text-dark">Item 5</h2>
						<h4 class="muted text-dark">Colourful vintage.</h4>
					</div>
					<div class="single-item-price align-self-end">
						<div class="text-uppercase text-dark"><h2><span>&#8358 </span> 5500</h2></div>
					</div>
					<h3 class="special-text text-capitalize">Brand New</h3>
				</div>
				<!-- End of single item -->


				<!-- single item -->
				<div class="single-item d-flex flex-column justify-content-between my-3 p-3">
					<div class="single-item-text">
						<img src="img/miah_5.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
						<h2 class="text-uppercase text-dark">Item 6</h2>
						<h4 class="muted text-dark">Asian kimono Darkblue.</h4>
					</div>
					<div class="single-item-price align-self-end">
						<div class="text-uppercase text-dark"><h2><span>&#8358 </span> 5500</h2></div>
					</div>
				</div>
				<!-- End of single item -->


				<!-- title -->
				<div class="row">
					<div class="col">
						<h1 class="primary-color text-uppercase">item </h1>
					</div>
				</div>
				<!-- End of title -->

				<!-- single item -->
				<div class="single-item d-flex flex-column justify-content-between my-3 p-3 special">
					<div class="single-item-text">
						<img src="img/miah_6.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
						<h2 class="text-uppercase text-dark">item 7</h2>
						<h4 class="muted text-dark">Asian kimono Black</h4> 
					</div>
					<div class="single-item-price align-self-end">
						<div class="text-uppercase text-dark"><h2><span>&#8358 </span> 5500</h2></div>
					</div>
					<h3 class="special-text text-capitalize">Brand New</h3>
				</div>

				<!-- End of single item -->

				<!-- single item -->
				<div class="single-item d-flex flex-column justify-content-between my-3 p-3">
					<div class="single-item-text">
						<img src="img/miah_3.jpg" class="img-fluid img-thumbnail item-img" alt="menu item">
						<h2 class="text-uppercase text-dark">item 8</h2>
						<h4 class="muted text-dark">Jean Vintage.</h4> 
					</div>
					<div class="single-item-price align-self-end">
						<div class="text-uppercase text-dark"><h2><span>&#8358 </span> 5500</h2></div>
					</div>
				</div>
				<!-- End of single item -->

			</div>
			<!-- End of second column -->
			</div>
		</div>
</section>

<!-- ########################## About section #############################################-->
<section id="about" class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6 my-4">
				<h1 class="text-uppercase display-3">About</h1>
				<h2 class="">At Miah's Clothings, we sell quality imported clothing materials at an affordable price. Customer's satisfaction is the hallmark of our services. Miah's clothing is a clothing store that's based in Nigeria. Our service and delivery is throughout the nation...</h2>
				<a href="/about" class="btn main-btn my-4 text-capitalize">learn more</a>
			</div>
			<div class="col-md-6 about-pictures my-4 d-none d-lg-block">
				<img src="img/miah_1.jpg" alt="menu" class="img-1 img-thumbnail about-image">
				<img src="img/miah_2.jpg" alt="menu" class="img-2 img-thumbnail about-image">
				<img src="img/miah_4.jpg" alt="menu" class="img-3 img-thumbnail about-image">
				<img src="img/miah_7.jpg" alt="menu" class="img-4 img-thumbnail about-image">
				<img src="img/miah_8.jpg" alt="menu" class="img-5 img-thumbnail about-image">
			</div>
		</div>
	</div> 
</section>
<!-- ################################# End of about section ##########################################-->



<!-- ############################ Review section ################################################-->
<section id="reviews" class="py-5">
	<h1 class="text-capitalize text-center">What customers are saying</h1>
	<div id="slider" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<!-- carousel items -->
			<div class="carousel-item active">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 mx-auto d-flex justify-content-between review-item py-3">
							<div class="align-self-center ml-md-5">
								<img src="img/customer-1.jpg" alt="" class="rounded-circle review-img">
							</div>
							<div class="review-text px-2 px-md-5">
								<h2 class="text-capitalize mb-3 primary-color">customer's name</h2>
								<p class="lead text-muted">	Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								Eius, distinctio.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of carousel item -->

			<!-- carousel items -->
			<div class="carousel-item ">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 mx-auto d-flex justify-content-between review-item py-3">
							<div class="align-self-center ml-md-5">
								<img src="img/customer-2.jpg" alt="" class="rounded-circle review-img">
							</div>
							<div class="review-text px-2 px-md-5">
								<h2 class="text-capitalize mb-3 primary-color">customer's name</h2>
								<p class="lead text-muted">	Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								Eius, distinctio.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of carousel item -->

			<!-- carousel items -->
			<div class="carousel-item ">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 mx-auto d-flex justify-content-between review-item py-3">
							<div class="align-self-center ml-md-5">
								<img src="img/customer-3.jpg" alt="" class="rounded-circle review-img">
							</div>
							<div class="review-text px-2 px-md-5">
								<h2 class="text-capitalize mb-3 primary-color">customer's name</h2>
								<p class="lead text-muted">	Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								Eius, distinctio.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of carousel item -->

			<!-- carousel items -->
			<div class="carousel-item ">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 mx-auto d-flex justify-content-between review-item py-3">
							<div class="align-self-center ml-md-5">
								<img src="img/customer-4.jpg" alt="" class="rounded-circle review-img">
							</div>
							<div class="review-text px-2 px-md-5">
								<h2 class="text-capitalize mb-3 primary-color">customer's name</h2>
								<p class="lead text-muted">	Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								Eius, distinctio.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of carousel item -->

			<!-- carousel items -->
			<div class="carousel-item ">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 mx-auto d-flex justify-content-between review-item py-3">
							<div class="align-self-center ml-md-5">
								<img src="img/customer-5.jpg" alt="" class="rounded-circle review-img">
							</div>
							<div class="review-text px-2 px-md-5">
								<h2 class="text-capitalize mb-3 primary-color">customer's name</h2>
								<p class="lead text-muted">	Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								Eius, distinctio.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of carousel item -->
		</div>
		<!-- carousel control -->
		<a href="#slider" class="carousel-control-prev" role="button"  data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>

		<a href="#slider" class="carousel-control-next" role="button"  data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
</section>
<!-- ################################# End of Reviews ################################################ -->



<!-- contact section -->
  <section id="contact">
 	<div class="container-fluid no-padding">
 		<div class="row">
 			<div class="col-md-6 my-3 ">
 				<div class="embed-responsive embed-responsive-21by9 height-60">
 					<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253209.6656368416!2d3.763748135077731!3d7.4207928084139985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10398d77eeff086f%3A0x3b33e0f76e8e04a9!2sIbadan!5e0!3m2!1sen!2sng!4v1580054975238!5m2!1sen!2sng" width="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
 				</div>
 			</div>

 			<div class="col-md-6 my-3 align-self-center">
 				<div class="card text-center">
 					<div class="card-header">
 						<h1 class="text-uppercase">Message</h1>
 					</div>
 					<div class="card-body">
 						<form>
 							<!-- input group -->
 							<div class="input-group my-3">
 								<div class="input-group-prepend">
 								    <span class="input-group-text" id="input-text">
 								    	<i class="fas fa-user"></i>
 								    </span>
 								</div>
 								<input type="text" id="text" class="form-control form-control-lg" placeholder="Click the button below to chat with miah clothings" disabled>
 							</div>

 							<!-- input group -->
 							<div class="input-group my-3">
 								<div class="input-group-prepend">
 								    <span class="input-group-text" id="input-phone">
 								    	<i class="fas fa-phone"></i>
 								    </span>
 								</div>
 								<input type="text" id="phone" class="form-control form-control-lg" placeholder="Or Speak with miah clothings on: +2347037244924" disabled>
 							</div>
                          <a href="https://m.me/miahclothings" type="" class=" btn-block btn-lg text-uppercase contact-btn"> 
                           		<i class="far fa-hand-point-right mr-2">
                           			click here
                           		</i>
                           </a>
 						</form>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>



<!-- End of contact section  -->
</div>
<!-- End of wrapper -->